body {
  font-family: cursive;
  text-align: center;
}
#app {
  font-family: sans-serif;
  font-size: 20px;
}
.navlink {
  margin: 10px;
  display: inline;
}
ul {
  list-style: none;
}

ul#product-list {
  list-style: none;
  text-align: left;
}

.navlink a {
  color: #ffffff;
  font-size: 18px;
}

#topnav {
  background-color: #000000;
}

table,
th,
td {
  border: 1px solid black;
}

img {
  height: 50%;
  width: 50%;
}
